<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <ul>
      <% if (!todos.length) { %>
        <h3>There are no To Dos yet!</h3>
      <% } else { %>
        <% todos.forEach(function(t, idx) { %>
            <li>
                <form action="/<%= idx %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">DELETE</button>
                </form>
                <%= t.todos %>
                -
                <%= t.done ? 'done' : 'not done' %>
            </li>
        <% }); %>
      <% } %>
    </ul>

    <div>
      <form action="/" method="POST">
        <input type="text" name="todos">
        <button type="submit">Add To Do</button>
      </form>
    </div>


  </body>
</html>
